body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #436A36;
    overflow: hidden;
}
.titulo{
    font: 'Inter';
    font-style: normal;
    font-weight: 300;
    position: fixed; /* Fija el texto en la pantalla */
    top: 0; /* Posición en la parte superior */
    right: 100px; /* Posición en la parte derecha */
    margin: 10px; /* Espacio alrededor del texto, ajusta según sea necesario */
    padding: 30px; /* Espacio interno alrededor del texto */
    font-size: 90px;
    color: #DAC7AB;
    text-align: center;
}


.subtitulo{
/* Estas buscando encargar tu almuerzo? */
font-family: 'Inter';
font-style: semi-bold;
position: absolute;
font-weight: 300;
width: 500px;
right: 100px ;
top: 100px;
font-size: 30px;
color: #DAC7AB;
text-align: center;
}

.iniciosesion {
    position: fixed;
    bottom: 250px;
    left: 150px;
    width: 30%;
    height: 70px;
    background: #C28A35;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex; /* Usa Flexbox para centrar el contenido */
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background 0.3s, box-shadow 0.3s; /* Transiciones para efectos */
}

.iniciosesion:hover {
    background: #A67C42; /* Color de fondo en hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra en hover */
}

.iniciosesion:active {
    background: #8B5E34; /* Color de fondo cuando se presiona */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra cuando se presiona */
}

.registrarse{
    position: fixed;
    bottom: 150px;
    left: 150px;
    width: 30%;
    height: 70px;
    background: #DAC7AB;
    color: #544B3D;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex; /* Usa Flexbox para centrar el contenido */
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background 0.3s, box-shadow 0.3s; /* Transiciones para efectos */
}

.registrarse:hover {
    background: #ceab77; /* Color de fondo en hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra en hover */
}

.registrarse:active {
    background: #926e3b; /* Color de fondo cuando se presiona */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra cuando se presiona */
}

.workoffice{

position: fixed;
right: 0%;
bottom: 0%;
width: 700px;
height: auto;
filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
}

.p1{
position: fixed;
font-size: 30px;
font-family: 'Inter';
font-style: semi-bold;
position: absolute;
left: 200px ;
top: 300px;
color: #DAC7AB;
text-align: center;
}

.forma {
    position: absolute;
    width: 300px;
    height: 400px; 
    top: -20px; 
    left:-10px; 
}
