html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #436A36 !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.barra {
  background-color: #FFECD1;
  padding: 1rem 2rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.nav-link-custom {
  color: #7c6f59;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-link-custom:hover {
  color: #2e210c;
}

.nav-link-custom.active {
  color: #2e210c;
  font-weight: 600;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto1, .texto2, .texto3 {
  color: #FFECD1;
  text-align: center;
}

.texto1 {
  font-size: 3rem;
  margin-top: 2.5%;
}

.texto2, .texto3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.selected-days-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.selected-days-container button {
  background-color: #FFD9A2;
  color: #544B3D;
  padding: 10px 20px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.selected-days-container button:hover {
  background-color: #caa673;
  color: #887655;
}

.selected-days-container button.selected {
  background-color: #473d2e;
  color: #dac29a;
}

.container-carrito {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carrito-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: -3.3rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carrito-btn img {
  width: 50%;
  height: auto;
}

.forma2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 20%;
  max-width: 10rem;
  height: auto;
}

.comida-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container-comida {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.container-button {
  background-color: #B3C7AB;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 10px;
  border-radius: 3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.container-button img {
  max-width: 100%;
  height: auto;
}

.container-button h1 {
  font-size: 1.2rem;
  color: #32452C;
}

.modal, .custom-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f8e0c3;
  margin: 10% auto;
  padding: 20px;
  border-radius: 20px;
  width: 700px;
  max-width: 90%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
  color: #6b6142;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modal-left, .modal-right {
  width: 48%;
}

.modal-image img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.guarnicion-options, .unidades, .product-notes, .empanada-types {
  margin-bottom: 20px;
}

.unidades {
  display: flex;
  justify-content: center;
}

.quantity-btn {
  background-color: #c2a484;
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.product-notes textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.empanada-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.empanada-btn {
  background-color: #8ab883;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.empanada-btn.selected {
  background-color: #245726;
}

.empanada-btn:hover {
  background-color: #6d9d67;
}

.add-to-order-btn {
  background-color: #c89b5e;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-order-btn:hover {
  background-color: #a47645;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
}
