body {
    background-color: #436A36 !important;
}

input {
    border: none; /* Elimina los bordes predeterminados */
    outline: none; /* Elimina el contorno que aparece al hacer foco en el input */
    width: 100%;           /* Hacer que ocupe el 100% de su contenedor */
    height: 90%;          /* Ocupa la altura total del contenedor */
    padding: 0 10px;            /* Quitar padding interno si lo hubiera */
    box-sizing: border-box; /* Asegura que padding y bordes no afecten el tamaño total */
    font-size: 24px;
}
.contenedorLogin {
    position: fixed; /* Fijo en la pantalla */
    top: 2%; /* Margen superior del 10% */
    right: 2%; /* Margen del 5% desde el borde derecho */
    width: 650px; /* Ancho fijo del contenedor */
    max-width: 90%; /* Asegura que no se desborde en pantallas más pequeñas */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido horizontalmente dentro del contenedor */
    justify-content: center;
    padding: 40px 20px; /* Ajustar el espacio interno del contenedor */
    background-color: #FFECD1 !important;
    border-radius: 50px; /* Redondear los bordes */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

/* Bienvenido */
.bienvenido {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 150%;
    text-align: center;
    color: #DAC7AB;
    margin-bottom: 30px;
}


/* Subtitulo Iniciar sesion */
.subtituloIniciarSesion {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #544B3D;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* ¿No tienes cuenta? crea una cuenta */
.crearCuenta {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 200%;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    text-align: center;
}

/* Campo de entrada para contraseña */
.entradaContraseña {
    width: 545px;
    height: 66px;
    padding: 10px;
    margin: 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 200%;
    color: #333333;
    
    background-color: #FFFFFF; /* Fondo blanco */
    border: 1px solid #CCC; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-bottom: 20px; /* Espacio inferior */
    
    text-transform: lowercase;
    mix-blend-mode: normal;
}

/* Placeholder estilizado para la contraseña */
.entradaContraseña::placeholder {
    color: rgba(51, 51, 51, 0.6); /* Texto placeholder en gris translúcido */
    font-weight: 300;
    font-size: 20px;
}

.entradaEmail {
    width: 545px;
    height: 66px;
    padding: 10px;
    margin: 20px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 200%;
    color: #333333;
    
    background-color: #FFFFFF; /* Fondo blanco */
    border: 1px solid #CCC; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-bottom: 20px; /* Espacio inferior */
    
    text-transform: lowercase;
    mix-blend-mode: normal;


}

/* Placeholder estilizado para el campo de email */
.entradaEmail::placeholder {
    color: rgba(51, 51, 51, 0.6); /* Texto placeholder en gris translúcido */
    font-weight: 300;
    font-size: 20px;
}

/* ¿Olvidaste tu contraseña? */
.contraseñaOlvidada {
    width: 305px;
    height: 44px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 200%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el texto hacia la derecha */
    text-transform: lowercase;
    
    color: #544B3D;
    margin-bottom: 1px; /* Espacio inferior para separación */
    
    text-decoration: none; /* Quita el subrayado del enlace */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
}

/* Hover para el enlace */
.contraseñaOlvidada:hover {
    color: #333333; /* Cambia el color al pasar el cursor */
    text-decoration: underline; /* Subrayado al hacer hover */
}

.botonIniciarSesion {
    width: 226px; /* Ancho del botón */
    height: 54px; /* Altura del botón */
    background-color: #d39839; /* Color de fondo del botón */
    border: none; /* Quitar el borde del botón */
    border-radius: 10px; /* Bordes redondeados */
    
    font-family: 'Inter', sans-serif; /* Fuente del texto */
    font-style: normal;
    font-weight: 500;
    font-size: 24px; /* Tamaño del texto */
    line-height: 54px; /* Asegurar que el texto esté centrado verticalmente */
    
    display: flex; /* Flex para centrar el texto dentro del botón */
    align-items: center; /* Centrar verticalmente el contenido dentro del botón */
    justify-content: center; /* Centrar horizontalmente el contenido dentro del botón */
    
    color: #FFEED4; /* Color del texto dentro del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 20px auto; /* Espacio superior e inferior y centrar el botón horizontalmente */
}
/* Hover para el botón de iniciar sesión */
.botonIniciarSesion:hover {
    background-color: #c3872f; /* Color más oscuro al pasar el cursor */
}